<include file="Index/header" />
<script src="{:C('STATIC_URL')}/js/shenpi.js" type="text/javascript"></script>

<div id="main" >

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click" id="clickadd"><span><img src="{:C('STATIC_URL')}/images/t01.png" /></span>添加</li>
        <li class="click"><span><img src="{:C('STATIC_URL')}/images/t02.png" /></span>修改</li>
        <li><span><img src="{:C('STATIC_URL')}/images/t03.png" /></span>删除</li>
        <li><span><img src="{:C('STATIC_URL')}/images/t04.png" /></span>统计</li>
        </ul>
        
        
        <ul class="toolbar1">
        <li><span><img src="{:C('STATIC_URL')}/images/t05.png" /></span>设置</li>
        </ul>
    
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input name="" type="checkbox" value="" checked="checked"/></th>
        <th>编号<i class="sort"><img src="{:C('STATIC_URL')}/images/px.gif" /></i></th>
        <th>流程名称</th>
        <th>添加时间</th>
        <th>状态</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
		<volist name='result' id="vo">
        <tr>
        <td><input name="" type="checkbox" value="" /></td>
        <td>{$vo.w_id}</td>
        <td>{$vo.w_name}</td>
        <td>{$vo.w_createtime}</td>
        <td>{$vo.status}</td>
        <td><a href="#" class="tablelink">查看</a>     <a href="#" class="tablelink"> 删除</a></td>
        </tr> 
		</volist>
    </table>
    
   
    <div class="pagin">
    	<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>    
    
    <div class="tipa" id="addlc" style="position:relative;">
      <div class="tipinfo">
        <ul class="forminfo">
		<li><label>流程名称<span>*</span></label><input name="w_name" type="text" class="dfinput"><i>工作流程的名称</i></li>		
		</ul>
		<div class="approval-process" action="">
        <div class="form-header font16 marginT20 ">
            设置审批流程
        </div>
		<div class="form-body marginT10">
            <div class="tx-c form-section paddingB20">
                <div class="steps" style="width:100%">
                    <ol style="width:185px; height:92px;">
                        <li>							
                            <div class="add">
                                <div class="mini-icon icon-add"></div>
                            </div>
                            <div class="arr">
                            </div>
                            <div class="standard"></div>
                            <div class="node">
                                <div>1</div>
                            </div>
                            <div class="set-person">点击设置审批人</div>
                            <div class="approvers"></div>
                        </li>                       
						<li>
                            <div class="arr"></div>
                            <div class="add">
                                <div class="mini-icon icon-add"></div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
	 </div>	
	 <div style="position:fixed; bottom:20px;padding: 20px 20px 5px 20px;"><input name="" type="button" class="btn" id="addbtn" value="确认保存"></div>

	 </div> 
	 
    </div>    
    
	

	
</div>
<include file="Index/footer" />
