@charset "utf-8";
/* CSS Document */
/***
 */
body{font-family:'微软雅黑'; margin:0 auto;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}
.clear{ clear:both} 
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    content: '\200B';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
#main_top{background:#000;}
#main_left{background:#f0f9fd; width:187px;float:left;}
#main{float:left; width:calc(100% - 187px);}
/*cloud*/

#mainBody {width:100%;height:100%;position:absolute;z-index:-1;}
.cloud {position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../images/cloud.png) no-repeat;z-index:1;opacity:0.5;}
#cloud2 {z-index:2;}


/*login*/
.logintop{height:47px; position:absolute; top:0; background:url(../images/loginbg1.png) repeat-x;z-index:100; width:100%;}
.logintop span{color:#fff; line-height:47px; background:url(../images/loginsj.png) no-repeat 21px 18px; text-indent:44px; color:#afc5d2; float:left;}
.logintop ul{float:right; padding-right:30px;}
.logintop ul li{float:left; margin-left:20px; line-height:47px;}
.logintop ul li a{color:#afc5d2;}
.logintop ul li a:hover{color:#fff;}
.loginbody{background:url(../images/loginbg3.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:50%; margin-top:-198px;}
.systemlogo{background:url(../images/loginlogo.png) no-repeat center;width:100%; height:71px; margin-top:75px;}
.loginbox{width:692px; height:336px; background:url(../images/logininfo.png) no-repeat;}
.loginbox ul{margin-top:88px; margin-left:285px;}
.loginbox ul li{margin-bottom:25px;}
.loginbox ul li label{color:#687f92; padding-left:25px;}
.loginbox ul li label a{color:#687f92;}
.loginbox ul li label a:hover{color:#3d96c9;}
.loginbox ul li label input{margin-right:5px;}
.loginuser{width:299px; height:48px; background:url(../images/loginuser.png) no-repeat; border:none; line-height:48px; padding-left:44px; font-size:14px; color:#90a2bc;}
.loginpwd{width:299px; height:48px; background:url(../images/loginpassword.png) no-repeat; border:none;line-height:48px; padding-left:44px; font-size:14px; color:#90a2bc;}
.loginbtn{width:111px;height:35px; background:url(../images/buttonbg.png) repeat-x; font-size:14px; font-weight:bold; color:#fff;cursor:pointer; line-height:35px;}
.loginbm{height:50px; line-height:50px; text-align:center; background:url(../images/loginbg2.png) repeat-x;position:absolute; bottom:0; width:100%; color:#0b3a58;}
.loginbm a{font-weight:bold;color:#0b3a58;}
.loginbm a:hover{color:#fff;}


/*top.html*/
.header{height:38px;}
.topleft{height:48px;float:left; width:300px;}
.topleft{padding-left:20px; line-height:48px; color:#fff; font-size:18px;}
.topright{height:48px;float:right;}
.nav{float:left;}
.nav li{float:left;width:87px;height:48px; text-align:center;}
.nav li a{display:block;width:87px;height:48px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
.nav li a.selected{background:url(../images/navbg.png) no-repeat;}
.nav li a:hover{display:block;background:#000;color:#fff;background: none repeat scroll 0% 0% rgb(43, 127, 181);}
.nav li img{margin-top:10px;}
.nav li a{display:block;}
.nav a h2{font-size:14px;color:#d6e8f1;}
.nav a:hover h2{color:#fff;}
.topright ul{padding-top:15px; float:left; padding-right:12px;}
.topright ul li{float:left; padding-left:9px; padding-right:9px; background:url(../images/line.gif) no-repeat right;}
.topright ul li:last-child{background:none;}
.topright ul li a{font-size:13px; color:#e9f2f7;}
.topright ul li a:hover{color:#fff;}
.topright ul li span{margin-top:2px;float:left;padding-right:3px;}
.user{height:30px;background:url(../images/ub1.png) repeat-x;margin-top:10px;float:right; margin-right:12px;border-radius:30px; behavior:url(js/pie.htc); white-space:nowrap;}
.user span{display:inline-block;padding-right:10px; background:url(../images/user.png) no-repeat 15px 10px; line-height:30px; font-size:14px;color:#b8ceda; padding-left:20px; padding-left:35px;}
.user b{display:inline-block; padding: 0 5px;height:18px; background:url(../images/msg.png);text-align:center; font-weight:normal; color:#fff;font-size:14px;margin-right:13px; margin-top:7px; line-height:18px;}
.user i{display:inline-block;margin-right:5px;font-style:normal;line-height:30px; font-size:14px;color:#b8ceda;}
.user i a{ color:#fff}
/*left.html*/
.lefttop{background:#5294e0;height:54px;color:#fff;font-size:16px;line-height:54px; padding-left: 5px;}
.lefttop span{margin: 14px 8px 0 8px; background:url(../images/leftico.png) no-repeat; width:25px; height:25px;float:left;}
.leftmenu{width:187px;padding-bottom: 9999px;margin-bottom: -9999px; overflow:hidden; background:#2f323a;}
.leftmenu dd{line-height:48px;font-weight:bold;font-size:14px; color: #a8adaf; border-bottom: 1px solid #111;}
.leftmenu dd span{float:left;margin:16px 8px 0 0;}
.leftmenu dd .menuson{display:none;}
.leftmenu dd:first-child .menuson{display:block;}
.menuson {line-height:45px; font-weight:normal; }
.menuson li{cursor:pointer; padding-left: 30px;}
.menuson li.active{position:relative; background:#1f282c; color:#fff;}
.menuson li cite{display:block; float:left; background:url(../images/list.gif) no-repeat; width:16px; height:16px; margin-top:15px;}
.menuson li.active cite{background:url(../images/list1.gif) no-repeat;}
.menuson li.active i{display:block; background:url(../images/sj.png) no-repeat; width:6px; height:11px; position:absolute; right:0;z-index:10000; top:17px; right:-1px;}
.menuson li a{ display:block; *display:inline; *padding-top:5px; color: #a8adaf;}
.menuson li.active a{color:#fff;}
.title{cursor:pointer; padding-left: 20px;}


/*right.html*/
.place{height:55px;border-bottom: 1px solid #ddd;}
.place span{line-height:55px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:55px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}
.placeul li a{color: #222;}
.placeul li a:hover{color: #5092e1;}
.rightinfo{padding:15px 0;}
.tools{clear:both; height: 46px; border-bottom: 1px solid #ccc; padding: 0 20px;}
.toolbar{float:left;}
.toolbar li{position: relative; border:solid 1px #d3dbde; float:left; text-align: center; min-width: 65px; padding: 0 20px; font-size: 16px; line-height: 45px; border-radius: 3px 3px 0 0; background-color: #f4f4f4;color: #222; margin-right:5px; cursor:pointer; border-bottom: 0;}
.toolbar li a{min-width: 65px; font-size: 16px; line-height: 45px;color: #222;  cursor:pointer; border-bottom: 0;}

.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:11px;}
.toolbar1{float:right;}
.toolbar1 li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-left:5px;border-radius: 3px; behavior:url(js/pie.htc);}
.toolbar1 li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.tablelist{border:solid 1px #ececec; width:100%; clear:both; margin-top: 20px;}
.tablelist th{background:#f8f8f8; height:35px; line-height:35px; padding: 6px 5px; text-indent:11px; text-align:left; font-size: 14px; border-bottom: 1px solid #ececec;}
.tablelist td{line-height:35px; text-indent:11px; border-right: solid 1px #ececec; font-size: 14px;}
.tablelist td span,.tablelist td a{font-size: 14px; margin-right: 10px;}
.tablelist td a:hover{color: #5092e1;}
.tablelist_w{padding: 0 20px;}
.tablelink{color:#056dae;}
.sort{padding-left:3px;}
.new_tablelist .tablelist{border:1px solid #ececec;}
.new_tablelist .tablelist th{background:#f8f8f8; height:35px; line-height:35px; padding: 6px 5px; text-align: center; font-size: 14px; border-bottom: 0;}

.new_tablelist .tablelist td{text-align: center; border: 1px solid #ececec; line-height: 22px; padding: 10px 5px; font-size: 14px;}
.new_tablelist .tablelist td font{font-size: 14px;}
.toolbar li.current a,.toolbar li:hover a{color: #5092e1; }

/*page*/
.pagin{position:relative;margin-top:10px;padding:0 12px;}
.pagin .blue{color:#056dae;font-style:normal;}
.pagin .paginList{position:absolute;right:12px;top:0;}
.pagin .paginList .paginItem{float:left;}
.pagin .paginList .paginItem a{float:left;width:31px;height:28px;border:1px solid #DDD; text-align:center;line-height:30px;border-left:none;color:#3399d5;}
.pagin .paginList .paginItem:first-child a{border-left:1px solid #DDD;}
.pagin .paginList .paginItem:first-child a{border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .paginList .paginItem:last-child a{border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagin .paginList .paginItem.current,.pagin .paginList .paginItem.current a{background:#f5f5f5; cursor:default;color:#737373;}
.pagin .paginList .paginItem:hover{background:#f5f5f5;}
.pagin .paginList .paginItem.more,.pagin .paginList .paginItem.more a:hover{ cursor:default;}
.pagin .paginList .paginItem.more:hover{background:#FFF;}
.pagin .paginList .paginItem.more a{color:#737373;}
.pagepre{background:url(../images/pre.gif) no-repeat center center; width:31px; height:28px;}
.pagenxt{background:url(../images/next.gif) no-repeat center center; width:31px; height:28px;}

/* TP page分页 */
.page{position:relative;margin-top:10px;padding:0 12px;}
.page div{position:absolute;right:12px;top:0;}
.page div span,.page div a{float:left;width:31px;height:28px;border:1px solid #DDD; text-align:center;line-height:30px;border-left:none;color:#3399d5;border-left:1px solid #DDD;}
.page div span:first-child,.page div a:first-child{border-left:1px solid #DDD;border-bottom-left-radius:5px;border-top-left-radius:5px;}
.page div span:last-child,.page div a:last-child{border-bottom-right-radius:5px;border-top-right-radius:5px;}
.page div .current{background:#f5f5f5; cursor:default;color:#737373;}
.page div span:hover,.page div a:hover{background:#f5f5f5;}
.pagepre{background:url(../images/pre.gif) no-repeat center center; width:31px; height:28px;}
.prev{background:url(../images/pre.gif) no-repeat center center; width:31px; height:28px;}
.next{background:url(../images/next.gif) no-repeat center center; width:31px; height:28px;}

/*index*/
.mainindex{padding:20px; overflow:hidden;}
.welinfo{height:32px; line-height:32px; padding-bottom:8px;}
.welinfo span{float:left;}
.welinfo b{padding-left:8px;}
.welinfo a{padding-left:15px;color:#3186c8;}
.welinfo a:hover{color:#F60;}
.welinfo i{font-style:normal; padding-left:8px;}
.xline{border-bottom:solid 1px #dfe9ee; height:5px;}
.iconlist{padding-left:40px; overflow:hidden;}
.iconlist li{text-align:center; float:left; margin-right:25px; margin-top:25px;}
.iconlist li p{line-height:25px;}
.ibox{clear:both; padding-left:40px; padding-top:18px; overflow:hidden; padding-bottom:18px;}
.ibtn{background:url(../images/ibtnbg.png) repeat-x;border:solid 1px #bfcfe1; height:23px; line-height:23px; display:block; float:left; padding:0 15px; cursor:pointer;}
.ibtn img{margin-top:5px; float:left; padding-right:7px;}
.box{height:15px;}
.infolist{padding-left:40px; padding-bottom:15px;}
.infolist li{ line-height:23px; height:23px; margin-bottom:8px;}
.infolist li span{float:left; display:block; margin-right:10px;}
.uimakerinfo{padding-left:40px; background:url(../images/search.png) no-repeat 10px 15px; padding-top:15px; padding-bottom:20px;}
.umlist{padding-left:40px;}
.umlist li{float:left; background:url(../images/ulist.png) no-repeat 0 5px; padding-left:10px; margin-right:15px;}


/*default*/
.mainbox{padding:8px;position:relative;}
.mainleft{padding-right:298px;}
.leftinfo{border:#d3dbde solid 1px; height:290px;}
.mainright{width:298px;position:absolute; top:8px; right:8px;}
.dflist{border:#d3dbde solid 1px; width:288px; height:290px; float:right;}
.dflist1{border:#d3dbde solid 1px; width:288px; height:238px; float:right; margin-top:8px;}
.listtitle{background:url(../images/tbg.png) repeat-x; height:36px; line-height:36px; border-bottom:solid 1px #d3dbde; text-indent:14px; font-weight:bold; font-size:14px;}
.more1{float:right; font-weight:normal;color:#307fb1; padding-right:17px;}
.maintj{text-align:center;}
.newlist{padding-left:14px; padding-top:15px;}
.newlist li{line-height:25px; background:url(../images/list2.png) no-repeat 0px 8px; text-indent:11px;}
.newlist i{width:80px; display:block; float:left; font-style:normal;}
.newlist b{font-weight:normal; color:#7b7b7b; padding-left:10px;}
.leftinfos{height:238px;margin-top:8px;}
.infoleft{border:#d3dbde solid 1px; float:left;height:238px;}
.inforight{border:#d3dbde solid 1px; float:right;height:238px; }
.tooli{padding:30px 20px;}
.tooli li{float:left;padding-left:15px; padding-right:15px;margin-bottom:20px;}
.tooli li span{text-align:center;}
.tooli li p{line-height:35px; text-align:center;}


/*form*/
.formbody{padding:10px 18px;}
.formtitle{border-bottom:solid 1px #d0dee5; line-height:35px; position:relative; height:35px; margin-bottom:28px;}
.formtitle span{font-weight:bold;font-size:14px; border-bottom:solid 3px #66c9f3;float:left; position:absolute; z-index:100; bottom:-1px; padding:0 3px; height:30px; line-height:30px;}
.forminfo{padding-left:23px;}
.forminfo li{margin-bottom:13px; clear:both;}
.forminfo li label{width:20%;line-height:34px; display:block; float:left;cursor: default;font-size: 16px;}
.forminfo li label span{color: red;height:35px; width:10px}
.forminfo li i{color:#7f7f7f; padding-left:20px; font-style:normal;font-size: 16px;}
.forminfo li cite{display:block; padding-top:10px;}
.dfinput
	{
	box-sizing: border-box;
    width: 377px;
    height: 35px;
    padding: 5px 10px;
    border: solid 1px #bac8d5;
    border-radius: 3px;	
	}
	.textinput{border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; padding:10px; width:504px; height:135px; line-height:20px; overflow:hidden;}
.btn{width:137px;height:35px; background:#00adee; font-size:14px;font-weight:bold;color:#fff; cursor:pointer; border-radius:4px; border:1px #e1e1e1 solid;}


/*tip*/
.tip{width:485px; height:260px; position:absolute;top:10%; left:30%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); display:none; z-index:111111;}
.tipa{width:685px; height:100%; position:absolute;top:0;overflow:scroll;right:0;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); display:none; z-index:111111;}
.tiptop{height:40px; line-height:40px; background:url(../images/tcbg.gif)  repeat-x; cursor:pointer;}
.tiptop span{font-size:14px; font-weight:bold; color:#fff;float:left; text-indent:20px;}
.tiptop a{display:block; background:url(../images/close.png) no-repeat; width:22px; height:22px;float:right;margin-right:7px; margin-top:10px; cursor:pointer;}
.tiptop a:hover{background:url(../images/close1.png) no-repeat;}
.tipinfo{padding-top:30px;margin:0 15px; height:95px;}
.tipinfo span{float:left;}
.tipright{float:left;padding-top:15px; padding-left:10px;}
.tipright p{font-size:14px; font-weight:bold; line-height:35px;}
.tipright cite{color:#858686;}
.tipbtn{margin-top:25px; margin-left:125px;}
.sure ,.cancel{width:96px; height:35px; line-height:35px; color:#fff; background:url(../images/btnbg1.png) repeat-x; font-size:14px; font-weight:bold;border-radius: 3px; cursor:pointer;}
.cancel{background:url(../images/btnbg2.png) repeat-x;color:#000;font-weight:normal;}

/*tools*/
.toolsli{clear:both; overflow:hidden; margin-bottom:20px;}
.toollist{margin-left:20px; overflow:hidden; float:left;}
.toollist li{width:66px; text-align:center; float:left; margin-right:32px;}
.toollist li a{width:65px; height:65px; background:#fafbfb; border-right:solid 1px #dbdbdb;border-bottom:solid 1px #dbdbdb; display:block;}
.toollist li a:hover{background:#eef4f7;border-right:solid 1px #d0d5d7;border-bottom:solid 1px #d0d5d7;}
.toollist li h2{line-height:35px;}
.tooladd{margin-top:25px; width:20px; height:20px; float:left; display:block;}

/*error 404*/
.error{background:url(../images/404.png) no-repeat; width:490px; margin-top:75px;padding-top:65px;}
.error h2{font-size:22px; padding-left:154px;}
.error p{padding-left:154px; line-height:35px;color:#717678;}
.reindex{padding-left:154px;}
.reindex a{width:115px; height:35px; font-size:14px; font-weight:bold; color:#fff; background:#3c95c8; display:block; line-height:35px; text-align:center;border-radius: 3px; behavior:url(js/pie.htc);margin-top:20px;}

/*computer*/
.comtitle{padding:20px; clear:both;}
.comtitle span{width:10px;height:10px; background:url(../images/clist.png) no-repeat; float:left; background:#fff; padding-top:3px;}
.comtitle h2{font-size:14px; display:block; float:left;color:#2a3e93; background:#fff; padding-left:5px; padding-right:8px;}
.rline{border-bottom:solid 1px #e5ecf0; height:10px; margin-left:50px;}
.disklist{padding-left:20px; padding-right:20px;}
.disklist li{width:275px;_width:270px;float:left; margin-right:10px;px;height:70px; cursor:pointer; margin-bottom:5px;border:solid 1px #fff;}
.disklist li a{color:#000;}
.disklist li:hover{background:#fcfcfc; border:solid 1px #e5ecf0;}
.dleft{background:url(../images/c02.png) no-repeat; height:50px; margin-left:12px; float:left; width:50px; margin-top:15px;}
.dleft1{background:url(../images/c01.png) no-repeat; height:50px; margin-left:12px; float:left; width:50px; margin-top:15px;}
.dleft2{background:url(../images/c03.png) no-repeat; height:50px; margin-left:12px; float:left; width:50px; margin-top:15px;}
.dright{float:left; margin-left:10px; margin-top:5px;}
.dright h3{font-weight:normal; padding-top:15px;}
.dright p{color:#949494;}
.dinfo{width:189px;height:15px; background:url(../images/diskbg.png) no-repeat; margin-top:5px; margin-bottom:5px;}
.dinfo span{background:url(../images/cbg.png) repeat-x; height:15px;}
.filetable{width:100%;}
.filetable thead tr{background:#f5f9fb; line-height:35px;}
.filetable thead tr th{text-align:left; text-indent:15px;font-weight:normal;color:#597190;}
.filetable tbody tr td{text-indent:15px; line-height:23px;}
.filetable tbody tr td img {margin-right:5px;}
.tdlast{text-align:right;}
.filetable tbody tr:hover{background:#f5f8fa; cursor:pointer;}

/*imglist*/
.imglist{clear:both; overflow:hidden; margin-bottom:20px; margin-left:5px;}
.imglist li{width:188px; border:solid 1px #fff;height:199px;float:left; margin-right:8px; margin-bottom:10px; cursor:pointer;}
.imglist li:hover{border:solid 1px #d7e4ea;}
.imglist li span{width:168px; height:126px; margin:8px;}
.imglist li h2{text-align:center; line-height:25px;}
.imglist li p{text-align:center; line-height:17px; background:url(../images/line1.png) center center no-repeat;}
.imglist li p a{color:#1f7cb6;}
.imglist li p a:hover{color:#F60;}

/*imgtable*/
.imgtable{width:100%;border:solid 1px #cbcbcb; }
.imgtable th{background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:21px; text-align:left;}
.imgtable td{line-height:20px; text-indent:21px; border-right: dotted 1px #c7c7c7;}
.imgtable td img{margin:10px 20px 10px 0;}
.imgtable td p{color:#919191;}
.imgtable td i{font-style:normal; color:#ea2020;}
.imgtd{text-indent:0;}
.imgtable tbody tr.odd{background:#f5f8fa;}
.imgtable tbody tr:hover{background:#e5ebee;}

/*tab*/
.itab{height:36px; border-bottom:solid 1px #d0dee5; position:relative; border-left:solid 1px #d3dbde;}
.itab ul li{float:left;height:37px; line-height:37px; background:url(../images/itabbg.png) repeat-x; border-right:solid 1px #d3dbde;}
.itab ul li a{font-size:14px; color:#000; padding-left:25px; padding-right:25px;}
.itab ul li a.selected{ height:37px; display:block; background:url(../images/itabbg1.png) repeat-x; font-weight:bold;}
.tabson{margin:18px 0px;}
.formtext{height:45px; padding-left:25px; line-height:20px; color:#848383;}
.formtext b{color:#d70101;}
.forminfo b{color:#ea2020; padding-left:3px;}

/*class*/
.classlist li{float:left;margin-right:10px;margin-bottom:10px;padding:12px;border:1px solid #ebebeb; background:#fcfcfc;}
.classlist li:hover{border:1px solid #3eafe0; cursor:pointer;}
.classlist li span{float:left;margin-right:18px;border:3px solid #fff;}
.classlist li .lright{float:left;width:150px;}
.classlist li .lright h2{font-size:12px; font-weight:bold;line-height:30px;}
.classlist li .lright p{line-height:20px;}
.enter{display:block;margin-top:5px;width:94px;height:30px;color:#fff;background:#3eafe0;font-weight:bold; border-radius:2px; text-align:center;line-height:30px; cursor:pointer;}
.enter:hover{color:#fff; background:#d98c1d;}
.clear{clear:both;}

/*seachform*/
.seachform{ height:42px;}
.seachform li{float:left; margin-right:15px;}
.seachform li label{padding-right:10px; float:left; line-height:32px;}
.scinput{width:150px; height:32px; line-height:32px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.scbtn{width:85px;height:35px; background:url(../images/btnbg.png) no-repeat center; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;border-radius:3px; behavior:url(js/pie.htc);}


.fold{background-image: url(../images/bg/bg2.png);float: left;display: block;width: 17px;height: 16px;margin-top: 9px}
.unfold{background-image: url(../images/bg/bg1.png);float: left;display: block;width: 17px;height: 16px;margin-top: 9px}
.nofold{background-image: url(../images/bg/bg3.png);float: left;display: block;width: 16px;height: 17px;margin-top: 9px}

/*form*/
.form-header{padding: 20px 20px 5px 20px;}
.marginT20 {
    margin-top: 20px !important;
}
.marginT10 {
    margin-top: 10px !important;
}
.font16 {
    font-size: 16px;
}
.form-section {
    padding: 20px 20px 5px 20px;
    background: #eaedf2;
}
.approval-process .form-section {
    position: relative;
	width:90%;
	margin:0 auto;
}
.approval-process .steps {
    overflow-x: auto;
	text-align:center;
}
.approval-process .steps>ol {
    display: inline-block;   
    width: 173px;
}
.approval-process .steps>ol>li {
    float: left;
    text-align: left;
    padding-top: 20px;
    position: relative;
    min-width: 130px;
}
.approval-process .steps>ol>li:first-child {
    margin-bottom: -5px;
    margin-left: 0;
}
.approval-process .add, .approval-process .arr, .approval-process .node {
    display: inline-block;
    vertical-align: middle;
}
.approval-process .add {
    position: relative;
    height: 23px;
    margin-right: -60px;
}
.approval-process .add, .approval-process .node {
    cursor: pointer;
}
.approval-template-list .icon, .approval-template-list .mini-icon, .approval-process .mini-icon {
    margin: 15px auto;
    background: url(../images/icons.png) no-repeat 0 0;
}
.approval-process .mini-icon, .approval-template-list .mini-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: 0 -100px;
}
.approval-process .mini-icon {
    cursor: pointer;
}
.approval-process .icon-add {
    width: 9px;
    height: 9px;
    margin: 0;
    padding: 6px;
    border: dashed 1px #bac8d5;
    border-radius: 50%;
    background-color: #eaedf2;
    background-position: 6px -144px;
}
.approval-process .add, .approval-process .arr, .approval-process .node {
    display: inline-block;
    vertical-align: middle;
}
.approval-process .arr {
    width: 95px;
    height: 12px;
    background: url(../images/icons.png) no-repeat -50px -150px;
}
.approval-process .steps .standard {
    position: absolute;
    color: #aaa;
    font-size: 12px;
    margin: -60px 0 0 47px;
    text-align: center;
    width: 72px;
}
.approval-process .node {
    display: inline-block;
    width: 29px;
    height: 29px;
    padding: 1px;
    text-align: center;
    border-radius: 50%;
    background: #0092da;
}
.approval-process .node div {
    line-height: 25px;
    width: 25px;
    height: 25px;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
}
.approval-process .set-person {
    font-size: 12px;
    line-height: 18px;
    width: 93px;
    margin: 11px 0 0 35px;
    cursor: pointer;
    text-align: center;
    color: #bac8d5;
    border: dashed 1px #bac8d5;
	    word-wrap: break-word;
}
.approval-process .approvers {
    font-size: 12px;
    line-height: 16px;
    color: #0092da;
    width: 111px;
    position: relative;
    left: 34px;
    margin-top: 10px;
}
.approval-process .steps:not(.steps-show)>ol>li:last-child {
    overflow: hidden;
    margin: 3px 0 28px -33px;
    padding-right: 24px;
    min-width: 51px;
}
.approval-process .steps:not(.steps-show)>ol>li:last-child .arr {
    margin-left: -48px;
}
.approval-process .steps>ol>li {
    float: left;
    text-align: left;
    padding-top: 20px;
    position: relative;
    min-width: 130px;
}
.approval-process .steps .del {
    text-decoration: none;
    position: absolute;
    margin: -18px 0 0 87px;
    font-size: 18px;
    cursor: pointer;
    padding: 0 9px;
    z-index: 1;
}



.marginB30 {
    margin-bottom: 30px !important;
}
.marginT40 {
    margin-top: 40px !important;
}
.approval-form .form-group {
    margin-bottom: 15px;
}
label {
	font-size:16px;
    cursor: default;
}
.approval-form{padding:20px;}
.approval-form .form-group>label, .approval-form .form-group>div {
    display: inline-block;
    vertical-align: top;
    max-width: 76%;
}
.approval-form.set-person-template .form-group>label {
    width: 145px;
}
.approval-form .form-group>label:first-child {
    width: 23%;
}
.approval-form .form-group>label>span {
    color: red;
}
.approval-form .form-group>label, .approval-form .form-group>div {
    display: inline-block;
    vertical-align: top;
    max-width: 76%;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font: 14px/24px "Microsoft YaHei","宋体","Arial Narrow",HELVETICA;
    color: #34495e;
}
.pulldown-container {
    position: relative;
    display: inline-block;
}
.pulldown-container {
    position: relative;
}
.approval-form .pulldown-container {
    vertical-align: middle;
}
.pulldown-input {
    position: relative;
    width: 218px;
    height: 25px;
    border: 1px solid #bac8d5;
    padding: 0;
    margin: 0;
    border-radius: 3px;
}
.approval-style-form .pulldown-input, .approval-form .pulldown-input {
    line-height: 33px;
    position: relative;
    width: 376px;
    height: 33px;
    margin: 0;
    border: 1px solid #bac8d5;
    border-radius: 3px;
    background: #fff;
}
.field-template .form-control, .set-person-template .pulldown-input, .set-person-template .form-control {
    width: 275px;
}
.pulldown-text {
    float: left;
    width: 196px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.pulldown-default-show {
    color: #a9a9a9;
}
.approval-form .pulldown-text {
    line-height: 33px;
    height: 33px;
    width: 340px;
}
.approval-form.set-person-template .pulldown-text {
    width: 238px;
}
.pulldown-icon {
    float: right;
    width: 20px;
    height: 25px;
    border-left: 0;
    border-radius: 3px;
    background: url(./images/common/ui-icons_228ef1_256x240.png) 193px 228px;
    cursor: pointer;
}
.approval-style-form .pulldown-icon, .approval-form .pulldown-icon {
    line-height: 33px;
    width: 35px;
    height: 33px;
    border-left: 1px solid #bac8d5;
    border-radius: 0 3px 3px 0;
    background-image: url(../images/main.png);
    background-repeat: no-repeat;
    background-position: 2px -451px;
}


.detail_left_inner {
    padding: 20px 20px 0 20px;
    height: 100%;
    box-sizing: border-box;	
    font-size: 14px!important;
}
.detail_left_head {
    height: 32px;
}
.detail_left_title {
    float: left;
    line-height: 25px;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    max-width: 380px;
    -ms-word-break: break-all;
    word-break: break-all;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 18px;
}
.cus_simple_info {
    min-height: 35px;
    width: 100%;
    box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-size: 14px;
}

.cus_simple_info div{
	margin-top:10px;
    font-size: 16px;
}
.contract-customer-name {
    cursor: pointer;
    color: #008dcf;
}
.marginR30 {
    margin-right: 30px !important;
}
.inline-block {
    display: inline;
    zoom: 1;
}
.inline-block {
    display: inline-block !important;
}

.contract-detail-state {
    padding: 4px 14px;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
}

.fn-clear {
    clear: both;
}
.detail_main_nav {
    height: 48px;
    border-bottom: 1px solid #ccc;
	margin-top:10px;
}


.detail_main_nav li {
    float: left;
    margin-right: 4px;
	margin-top: 20px;
    text-align: center;
    padding: 0;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #bac8d5;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.detail_main_nav a {
    font-size: 16px;
    color: #434343;
    padding-left: 12px;
	 padding-top: 5px;
    display: inline-block;
    padding-right: 12px;
}
.slide_nav_hover {
    background-color: #eaedf2 !important;
}

.dynamic-replay-body {
    border-top-style: dashed;
}
.dynamic-replay-body {
    border-top: 1px solid #ced1d6;
    border-radius: 3px;
}
.dynamic-replay-self-info {
    padding: 10px 10px 0;
}
.crm-image-show-client {
    position: absolute;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}
.dynamic-self-info {
    margin-left: 50px;
    height: 20px;
    line-height: 20px;
}
.dynamic-self-name {
    font-size: 12px;
    color: #017dbe;
}
.dynamic-self-info {
    margin-left: 50px;
    height: 20px;
    line-height: 20px;
}
.dynamic-self-mess {
    line-height: 20px;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 50px;
    word-wrap: break-word;
    word-break: normal;
}
.caozuo{ float:right}
.dynamic-normal-content {
    display: inline-block;
    line-height: 20px;
    max-width: 550px;
    vertical-align: middle;
}
.dynamic-handled-name {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    color: #008dcf;
    cursor: pointer;
    max-width: 420px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dynamic-normal {
    cursor: auto !important;
    color: #434343 !important;
}

.dynamic-self-time {
    margin: 5px 10px 5px 50px;
	
}
.dynamic-detail-body{
	background: #eaedf2;
	    min-height: 70%;
}
    
.modify-detail-container .modify-body {
    padding-bottom: 10px;
}
.modify-base-info {
	padding-top:30px;
    margin-left: 30px;
}
.newclient-item-info {
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    position: relative;   
}
.modify-detail-container .lable-container {
    float: left;
    padding-left: 10px;
    width: 10%;
    min-width: 130px;
}
.modify-base-info .input-label, .modify-special-info .input-label {
    width: 120px;
    color: #959ca8;
}
.normal {
    float: left;
    width: 10px;
    height: 27px;
}
.modify-detail-container .input-container {
    float: left;
    min-width: 300px;
    word-break: break-all;
    word-wrap: break-word;
    color: #959ca8;
    width: 50%;
}

.clientmodify-default-text {
    padding-right: 20px;
    line-height: 30px;
    word-break: break-all;
    word-wrap: break-word;
    display: inline-block;
    color: #34495e;
}
.tablist{display:none}
.btn-primary{
	border: 1px solid #3079ed;
    color: #ffffff;
    background-color: #4b8cf7;
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.baocun{
	position: relative;
    padding:0 18px;
	height:35px;
    margin-left: 10px;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    font-family: Simsun, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    vertical-align: top;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
    cursor: default;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a.addfile{
    width: 60px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    padding-left: 18px;
    background: url(../images/add-new.png) no-repeat left center;
    cursor: pointer;
}
input[type="file"].addfile, input.addfile {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20px;
    width: 110px;
    font-size: 20px;
    opacity: 0;
    width: 60px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    padding-left: 18px;
    background: url(../images/add-new.png) no-repeat left center;
    cursor: pointer;
}
input[type="file"].webuploader-element-invisible, input.webuploader-element-invisible {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20px;
    width: 110px;
    font-size: 20px;
    opacity: 0;
    width: 60px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    padding-left: 18px;
    background: url(../images/add-new.png) no-repeat left center;
    cursor: pointer;
}
input[type="file"] {
    border: none;
    min-height: initial;
    line-height: initial;
    max-width: none;
}
.remake-list-time-rpl{
	margin-left:10px;
}
.remark-sub-list {  
    padding-top: 10px;
    border-left: 1px dashed #bbb;
}

.work-prcs-title {
    border: 1px solid #e1e1e8;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    padding: 5px 16px;
    font-weight: bold;
    background-color: #f3f3f3;
}

.work-prcs-content {
    border: 1px solid #e1e1e8;
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    padding: 10px;
}

.work-prcs-content {
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.workflow-procs-nodes-wrap {
    width: 200px;
    float: left;
    margin-top: 25px;
    position: relative;
}
.workflow-procs-nodes {
    margin: 0;
    list-style: none;
}
.workflow-node:first-child {
    border-top: none;
}
.workflow-procs-nodes .active {
   background: #5B7FCB url(../images/checked.png) no-repeat 20px center;
    color: #fff;
    font-weight: bold;
}

.workflow-node {
    padding: 3px 3px 3px 25px;
    border-top: 1px solid #ddd;
    cursor: pointer;
    padding: 12px 12px 12px 45px;
    background: url(../images/uncheck.png) no-repeat 20px center;
}
.workflow-node a, .workflow-node a:hover, .workflow-node a:visited, .workflow-node a:link {
    color: #393939;
}
.workflow-procs-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ddd;
    left: 230px;
}
.workflow-procs-nodes-result-wrap {
    float: right;
    width: 100%;
    margin-left: -230px;
}
.workflow-procs-nodes-result {
    position: relative;
    overflow: visible;
    margin: 0;
    margin-left: 230px;
    padding-bottom: 5px;
    list-style: none;
}
.workflow-node-result {
    position: relative;
    margin: 10px 15px;
    border: 1px solid #E2E2E2;
    padding: 5px;
    background: #E5EDFE;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.workflow-node-title {   
    float: left;
    line-height: 30px;
    font-weight: bold;
    padding-left: 5px;
}
.workflow-node-title-text {
    max-height: 60px;
}
.workflow-node>a, .workflow-node-title-text {
    display: block;
    max-height: 40px;
    overflow: hidden;
    word-break: break-all;
}

.managers, .user-tags {
    float: left;
    padding: 2px 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.user-tags i {
    margin-left: 3px;
    font-size: 13px;
    font-style: normal;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close {
    float: right;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.btn-info {
	line-height:30px;
	padding:0 10px;
    border: 1px solid #46b8da;
    color: #ffffff;
    background-color: #5bc0de;
    background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
    background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
    background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
    background-image: linear-gradient(to bottom, #5bc0de, #5bc0de);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff5bc0de', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.role_mes{ margin-top:15px;}

#remind_others_name{
	width:370px;
	cursor: not-allowed;
	background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    background-color: #eeeeee;
	    height: 60px;
}

A.orgAdd:link, A.orgAdd:visited {
    color: #207BD6;
    padding-left: 12px;
    background: url(../images/org_select.png) no-repeat;
    background-position: 0px 0px;
}
A.orgClear:link, A.orgClear:visited {
    color: #9AA9B8;
    padding-left: 12px;
    background: url(../images/org_select.png) no-repeat;
    background-position: 0px -60px;
    margin-left: 5px;
}
a:visited {
    color: #1687cb;
    text-decoration: none;
}
a:link {
    color: #1687cb;
    text-decoration: none;
}

.work-msg-content {
    border: 1px solid #e1e1e8;
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    padding: 10px;
	height:80px;	
}

.systemNotice-header-inner {    
    width: 100%;
    min-width: 840px;
    float: left;
    z-index: 60;
    background: #fff;
}
.systemNotice-tabs {
    float: left;
    margin-left: 10px;
}
.systemNotice-tabs-item {
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin: 0 1px;
}
.systemNotice-tabs-item.actived {
    border-bottom: 2px solid #008dcf;
    color: #047fb9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.systemNotice-tabs-item a {
    font-size: 14px;
    padding: 0 15px;
    color: #505050;
}
.sn-notice-tip {
    display: none;
    padding: 0;
    background-color: #d8615d;
    border-radius: 7px;
    height: 7px;
    width: 7px;
    position: absolute;
    right: 6px;
    top: 12px;
}

.message_list li{
	border-top: 1px dotted #d9d9d9;
	padding: 10px;
    border-bottom: 1px dotted #d9d9d9;
    position: relative;
    cursor: pointer;
}
.minus{	
	background: url(../images/tasks.png) center no-repeat;	
}
.minuson{	
	background: url(../images/tasks.png) center no-repeat;	
}
.plus{	
	background: url(../images/plus1.png) center no-repeat;	
}
.pluson{
	background: url(../images/plus2.png) center no-repeat;
}
.pluson:hover{
	background: url(../images/plus2.png) center no-repeat;
	background-size:25px 25px;	
}
.minus,.minuson,.plus,.pluson{
	vertical-align:middle;
	width:40px;
	height:40px;
	background-size:20px 20px;	
}

.lefticon{
	background: url(../images/bg/left.png) center no-repeat;
	background-size:20px 20px;	
	vertical-align:middle;
	width:25px;
	height:25px;
}
.righticon{
	background: url(../images/bg/right.png) center no-repeat;
	background-size:20px 20px;	
	vertical-align:middle;
	width:25px;
	height:25px;
}
.lefticon:hover{
	background: url(../images/bg/left.png) center no-repeat;
	background-size:25px 25px;	
}
.righticon:hover{
	background: url(../images/bg/right.png) center no-repeat;
	background-size:25px 25px;	
}