<html>
<head>
<script language="JavaScript" src="{:C('STATIC_URL')}/js/jquery.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/ztree/js/jquery.ztree.excheck.js"></script>
<link href="{:C('STATIC_URL')}/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{:C('STATIC_URL')}/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
.ztree{
	position:absolute;
	width: 375px;  
	max-height:200px;
	overflow-y:scroll;
    top: 55px;
	left: 153px;      
    background-color: #fff;
    border-radius: 2px;
    z-index: 80;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    display: none;
	}
</style>
</head>
<body style="overflow-x: hidden;overflow-y: auto;">
	<div id="bumen" style="width:600px;position:relative;">
		<div class="approval-form">
	    <div class="form-group marginB30">
                <label>审批人<span>*</span></label>
                <div>                  
                    <div class="set-tree pulldown-container">
                        <div class="pulldown-input"><span class="pulldown-text pulldown-default-show">请选择</span><span class="pulldown-icon"></span></div>
                    </div>                   
                </div>
         </div> 
		<div id="treeDemo" class="ztree" style="display:none;"></div>	
		</div>		
	</div>	
	<div id="act" class='approval-form'>
		<div style='width:23%;font-size:16px; font-weight:bolder; padding-bottom:10px;border-bottom:1px solid #e1e1e1'>选择执行操作</div>
		<volist name="actresult" id='vo'>
			<label style="float:left; line-height:18px; padding:5px;"><input style="margin-top:-2px;" type="checkbox" name="acts[]" value="{$vo.id}" >{$vo.des}</label>
		</volist>
	</div>
	<div style="position:fixed; bottom:20px;padding: 20px 20px 5px 20px;"><input name="" type="button" class="btn" id="bumenbtn" value="确认保存"></div>	
	<script>
		$(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);						
			$(document).on("click",'.pulldown-input',showMenu);
			$("#bumenbtn").click(function(){
				var aa = $(".pulldown-default-show").html();
				var bb = $(".pulldown-default-show").attr('data-uid');					
				if(!aa || aa=='请选择'){
					parent.layer.open({
					  content: '请选择用户',
					  scrollbar: false
					});
					return false;					
				}
				var acts='';			
				$("input[name='acts[]']:checked").each(function(){          
				   acts += $(this).val()+"|";  
				}); 
				if(acts==""){
					parent.layer.open({
					  content: '请选择操作',
					  scrollbar: false
					});
					return false;		
				}
				var wid ={$wid}+1;				
				$(parent.document).find('.steps ol li').eq(wid).find('.set-person').html(aa);
				$(parent.document).find('.steps ol li').eq(wid).find('.set-person').attr("data-uid",bb);
				$(parent.document).find('.steps ol li').eq(wid).find('.set-person').attr("data-act",acts);
				
				$(parent.document).find('.steps ol li').eq(wid).find('.set-person').attr("isenable",'no');
				var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
				parent.layer.close(index);
			})
			
			//选择执行操作
			
		})
		var setting = {
			check: {
				enable: true
			},
			view: {
				showIcon: showIconForTree
			},
			chkboxType : { "Y" : "ps", "N" : "ps" },
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				beforeClick: beforeClick,	
				onCheck: onCheck	
			}
		};		
		
		var zNodes ={$json_data};
		function beforeClick(treeId, treeNode) {			
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			zTree.checkNode(treeNode, !treeNode.checked, null, true);			
			return false;
		}	
		function onCheck(e, treeId, treeNode) {			
			var zTree = $.fn.zTree.getZTreeObj("treeDemo"),			
			nodes = zTree.getCheckedNodes(true),			
			v = "";
			vuid = "";
			for (var i=0, l=nodes.length; i<l; i++) {				
				if(nodes[i].type=='user'){					
					v += nodes[i].name + ",";
					vuid += nodes[i].id + "|";
				}
			}
			if (v.length > 0 ) v = v.substring(0, v.length-1);
			if (vuid.length > 0 ) vuid = vuid.substring(0, vuid.length-1);
			var cityObj = $(".pulldown-default-show");
			cityObj.attr('data-uid',vuid);
			cityObj.html(v);
		}
		function showIconForTree(treeId, treeNode) {
			return !treeNode.isParent;
		};
		function showMenu() {		
			$(".ztree").toggle();
		}	
	</script>
</body>
</html>