<include file="Index/header" />
<div id="main" >
<style>
    .toolbar li{text-align: center;padding: 0 !important;width: 50px;}
    .toolbar li.current{color: #FFFFFF;background: #3EAFE0 !important;}
    .toolbar1 li{cursor: pointer}
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">客户管理</a></li>
        <li><a href="#">字段管理</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div class="tools">
        <ul class="toolbar">
            <volist name="fields_type_list" id="vo">
                <li data-value="{$key}" <if condition="$key eq 'partner'">class="current"</if>>{$vo}</li>
            </volist>
        </ul>
        <ul class="toolbar1">
            <li class="add_btn"><span><img src="{:C('STATIC_URL')}/images/t01.png"/></span>添加</li>
        </ul>
    </div>


    <table class="tablelist">
        <thead>
        <tr>
            <th>字段名称</th>
            <th>字段类型</th>
            <th>必填</th>
            <th>状态</th>
            <th>查重</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <div id="dd_list" style="display: none;">
        <div class="div_field_name"><dd><span>字段名称</span><input name="field_name" type="text" class="dfinput input_field_name" /></dd></div>
        <div class="div_not_null"><dd><span>必填</span><label><input name="not_null" type="checkbox" class="dfcheckbox input_not_null" value="1" checked="checked" />必填</label></dd></div>
        <div class="div_is_unique"><dd><span>是否查重</span><label><input name="is_unique" type="radio" class="dfradio input_is_unique" value="1" />是</label>&nbsp;&nbsp;<label><input name="is_unique" type="radio" class="dfradio input_is_unique" value="0" checked="checked" />否</label></dd></div>
        <div class="div_status"><dd><span>状态</span><label><input name="status" type="radio" class="dfradio input_status" value="1" checked="checked" />启用</label>&nbsp;&nbsp;<label><input name="status" type="radio" class="dfradio input_status" value="0" />禁用</label></dd></div>
        <div class="div_dl_option">
            <div class="dl_option">
                <h2>选项信息</h2>
                <ul class="ui-sortable">
                    <!--
                    <li class="">
                        <label class="sbi-radio-vall" title="a">aaaa</label>
                        <input data-val="data" type="text" class="sbi-radio-val selected" value="aaaa">
                        <p><strong></strong><span style="display:none;"></span></p>
                    </li>
                    <li class="">
                        <label class="sbi-radio-vall" title="a">bbb</label>
                        <input data-val="data" type="text" class="sbi-radio-val selected" value="bbb">
                        <p><strong></strong><span style="display:none;"></span></p>
                    </li>
                    -->
                </ul>
                <p class="sbi-radio-p">
                    <input type="hidden" class="input_option_type" value="">
                    <input type="text" class="sbi-radio-write">
                    <!--<label class="selected sbi-radio-selected"><input class="selected" type="checkbox" value="1">默认</label>-->
                    <span class="sbi-radio-btn">添加</span>
                </p>
            </div>
        </div>
    </div>
    
    <div id="add_temp" style="display: none">
        <div class="add_wrapper">
            <input type="hidden" class="input_field_type" value="">
            <dl class="dl_left">
                <dt>选择字段类型</dt>
                <dd class="on" data-opt="['field_name','not_null','is_unique','status']" data-value="varchar">{$data_type_list['varchar']}</dd>
                <dd data-opt="['field_name','not_null','status']" data-value="text">{$data_type_list['text']}</dd>
                <dd data-opt="['field_name','not_null','is_unique','status']" data-value="int">{$data_type_list['int']}</dd>
                <dd data-opt="['field_name','not_null','is_unique','status']" data-value="double">{$data_type_list['double']}</dd>
                <dd data-opt="['field_name','not_null','status']" data-value="date">{$data_type_list['date']}</dd>
                <dd data-opt="['field_name','not_null','status']" data-value="time">{$data_type_list['time']}</dd>
                <dd data-opt="['field_name','not_null','status']" data-value="date_time">{$data_type_list['date_time']}</dd>
                <dd data-opt="['field_name','not_null','status','dl_option']" data-value="single_option">{$data_type_list['single_option']}</dd>
                <dd data-opt="['field_name','not_null','status','dl_option']" data-value="multi_option">{$data_type_list['multi_option']}</dd>
            </dl>
            <dl class="dl_right">
                <dt>字段详情</dt>
            </dl>

        </div>
        <div class="add_wrapper_footer">
            <div class="ui-dialog-buttonset">
                <button type="button" class="btn_yes" role="button" aria-disabled="false">
                    <span class="ui-button-text">保存</span>
                </button>
                <button type="button" class="btn_no" role="button" aria-disabled="false">
                    <span class="ui-button-text">取消</span>
                </button>
            </div>
        </div>
    </div>


</div>
</div>
<script>
    $(function () {
        loadFieldsList($('.toolbar li.current').attr('data-value'));
        var layer_index;
        $(document).on('click', '.toolbar li', function () {
            if ($(this).hasClass('current')) return false;
            $(this).addClass('current').siblings('li').removeClass('current');
            loadFieldsList($(this).attr('data-value'));
        });
        
        $(document).on('click', '.add_btn', function () {
            layer_index = layer.open({
                type: 1,
                title: '添加字段',
                skin: 'layui-layer-rim',
                area: ['800px', '600px'],
                scrollbar: false,
                content: $('#add_temp').html()
            });
            var layer_con = $('#layui-layer'+layer_index);
            layer_con.find('.input_field_type').val($('.toolbar li.current').attr('data-value'));
            setFieldsForm(layer_con.find('dl.dl_left dd').eq(0).attr('data-opt'), layer_con);
            layer_con.find('.btn_no').click(function () {
                layer.close(layer_index);
            });
            layer_con.find('.dl_left dd').click(function () {
                if ($(this).hasClass('on')) return false;
                $(this).addClass('on').siblings('dd').removeClass('on');
                setFieldsForm($(this).attr('data-opt'), layer_con);
            });
            $(document).on('click', '#layui-layer'+layer_index+' .btn_yes', function () {
                initAddFields(layer_con);
            });
        });
        $(document).on('click', '.ui-sortable li strong', function () {
            $(this).parents('li').remove();
        });
        $(document).on('click', '.dl_option .sbi-radio-btn', function () {
            var opt_name = $(this).siblings('.sbi-radio-write').val();
            if (!opt_name || opt_name == '') return false;
            var li_html = '<li class="">' +
                    '<label class="sbi-radio-vall" title="'+opt_name+'">'+opt_name+'</label>' +
                    '<input data-val="data" type="text" class="sbi-radio-val selected" value="'+opt_name+'">' +
                    '<p><strong></strong><span style="display:none;"></span></p>' +
                    '</li>';
            $(this).parents('.dl_option').find('.ui-sortable').append(li_html);
        });
        
        function initAddFields(con) {
            var param = {};
            var typelist = eval('('+con.find('.dl_left dd.on').attr('data-opt')+')');
            param.field_type = con.find('.input_field_type').val();
            param.data_type = con.find('.dl_left dd.on').attr('data-value');
            var errtag = '';
            for (var i in typelist) {
                var input = con.find(".dl_right dd input[name='"+typelist[i]+"']");
                var input_type = input.attr('type');
                if (input_type == 'radio') {
                    param[typelist[i]] = con.find(".dl_right dd input[name='"+typelist[i]+"']:checked").val();
                }else if (input_type == 'checkbox') {
                    param[typelist[i]] = con.find(".dl_right dd input[name='"+typelist[i]+"']").is(':checked')?1:0;
                }else {
                    param[typelist[i]] = input.val();
                }
                if (typeof param[typelist[i]] == 'undefined') {
                    if ((typelist[i] != 'dl_option')) {
                        errtag = typelist[i];
                    }
                }
            }

            if (errtag != '') {
                layer.msg('参数错误'+errtag, {icon: 2,time: 1000});
                return false;
            }
            if (con.find('.dl_option').length > 0) {
                param.field_option = {};
                con.find('.dl_option .sbi-radio-val').each(function (index) {
                    param.field_option[index] = $(this).val();
                });
            }
            $.ajax({
                type:'post',
                dataType:'json',
                data:param,
                url:"{:U('System/addFields')}",
                success:function (response) {
                    if (response.code == 1) {
                        layer.msg('保存成功', {icon: 1,time: 1000}, function(){
                            loadFieldsList(param.field_type);
                        });
                    }else {
                        layer.msg(response.msg, {icon: 2,time: 1000});
                    }
                }
            });
        }

        function setFieldsForm(typelist, con) {
            if (!typelist) return false;
            con.find('.dl_right dd,.dl_option').remove();
            var type_array = eval('('+typelist+')');
            for (var i in type_array) {
                if (type_array[i] == 'dl_option') {
                    con.find('.dl_right').after($('#dd_list .div_'+type_array[i]).html());
                    con.find('.ui-sortable').sortable({
                        revert: true
                    });
                }else {
                    con.find('.dl_right dt').after($('#dd_list .div_'+type_array[i]).html());
                }
            }
        }

        function loadFieldsList(field_type) {
            $.ajax({
                type:'post',
                dataType:'json',
                data:{field_type:field_type},
                url:"{:U('System/fieldsManager')}",
                success:function (response) {
                    if (response.code == 1) {
                        var html = '';
                        for (var i in response.data) {
                            html += '<tr>' +
                                    '<td>'+response.data[i].field_name+'</td>' +
                                    '<td>'+response.data[i].data_type_name+'</td>' +
                                    '<td>'+response.data[i].not_null_name+'</td>' +
                                    '<td>'+response.data[i].status_name+'</td>' +
                                    '<td>'+response.data[i].is_unique_name+'</td>' +
                                    '<td><a href="javascript:;" class="tablelink edit">编辑</a> <a href="javascript:;" class="tablelink dele">删除</a></td>' +
                                    '</tr>';
                        }
                        $('.tablelist tbody').html(html);
                    }
                }
            });
        }
        

    });
</script>

<include file="Index/footer" />
