<html>
<head>
<script language="JavaScript" src="{:C('STATIC_URL')}/js/jquery.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="{:C('STATIC_URL')}/ztree/js/jquery.ztree.excheck.js"></script>
<link href="{:C('STATIC_URL')}/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{:C('STATIC_URL')}/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
.caozuo{float:right; margin}
.caozuo input { width:80px; height:20px; margin-left:10px;}
body,input,select{ font-size:14px; line-height:18px;}
</style>
</head>
<body style="overflow-x: hidden;overflow-y: auto;">	

</body>
</html>