<include file="Index/header" />
<div id="main" >
    <style>
        .toolbar li{text-align: center;padding: 0 !important;width: 50px;}
        .toolbar li.current{color: #FFFFFF;background: #3EAFE0 !important;}
        .toolbar1 li{cursor: pointer}
    </style>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">工作管理</a></li>
            <li><a href="#">联系人管理</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar1">
                <li class="add_btn"><span><img src="{:C('STATIC_URL')}/images/t01.png"/></span>添加</li>
            </ul>
        </div>
        <div class="tablelist_w new_tablelist">
            <table class="tablelist">
                <thead>
                <tr>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <volist name="fieldlist" id="vo">
                        <th>{$vo.field_name}</th>
                    </volist>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr data-id="{$vo.id}">
                        <td>{$vo.nickname}</td>
                        <td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
                        <volist name="vo" id="vv">
                            <if condition="$fieldlist[$key]">
                                <td class="td_{$key}" data-key="{$key}">{$vv}</td>
                            </if>
                        </volist>
                        <td><a href="javascript:;" class="tablelink edit">编辑</a> <a href="javascript:;" class="tablelink dele">删除</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="page">{$pagebar}</div>
        </div>
    </div>
</div>

<div id="add_temp" style="display: none">
    <ul class="forminfo">
        <form class="dataform" method="post" enctype="multipart/form-data" action="{:U('Work/addContact')}">
            <input type="hidden" class="input_id" name="id" value="">
            <input type="hidden" class="input_fieldtype" name="fieldtype" value="contact">
            ##FORM##
            <li><label>&nbsp;</label><input name="submit" type="button" class="btn do_save_btn" value="确认保存"/></li>
        </form>
    </ul>
</div>

<script>
    var layer_index;
    $(document).on('click', '.add_btn', function () {
        var load = layer.load(1);
        $.ajax({
            type:'post',
            dataType:'json',
            data:{fieldtype:'contact'},
            url:"{:U('Common/getFieldForm')}",
            success:function (response) {
                layer.close(load);
                var formHtml = $('#add_temp').html().replace('##FORM##', response.form.html+response.form.script);
                layer_index = layer.open({
                    type: 1,
                    title: '添加联系人',
                    skin: 'layui-layer-rim',
                    area: ['550px', '450px'],
                    scrollbar: false,
                    content: formHtml
                });
                $(document).on('click', '#layui-layer'+layer_index+' .btn', function () {
                    addData($(this).parents('.dataform'));
                });
            }
        });
    });

    //添加
    function addData(con) {
        var load = layer.load(1);
        con.ajaxSubmit({
            type:'post',
            dataType:'json',
            url:"{:U('Work/addContact')}",
            error:function () {
                layer.close(load);
            },
            success:function (response) {
                layer.close(load);
                if (response.code == 1) {
                    layer.msg('保存成功', {icon: 1,time: 1000}, function(){
                        location.reload();
                    });
                }else {
                    layer.msg(response.msg, {icon: 2,time: 1000});
                }
            }
        });
    }

    $(document).on('click', '.edit', function () {
        var tr = $(this).parents('tr');
        var id = tr.attr('data-id');
        if (!id || id == '') return false;
        var load = layer.load(1);
        $.ajax({
            type:'post',
            dataType:'json',
            data:{fieldtype:'contact',id:id},
            url:"{:U('Common/getFieldForm')}",
            success:function (response) {
                layer.close(load);
                var formHtml = $('#add_temp').html().replace('##FORM##', response.form.html+response.form.script);
                layer_index = layer.open({
                    type: 1,
                    title: '编辑联系人',
                    skin: 'layui-layer-rim',
                    area: ['550px', '450px'],
                    scrollbar: false,
                    content: formHtml
                });
                var layer_con = $('#layui-layer'+layer_index);
                layer_con.find('.input_id').val(id);
                $(document).on('click', '#layui-layer'+layer_index+' .btn', function () {
                    editData($(this).parents('.dataform'));
                });
            }
        });
    });

    //编辑
    function editData(con) {
        var load = layer.load(1);
        con.ajaxSubmit({
            type:'post',
            dataType:'json',
            url:"{:U('Work/editContact')}",
            error:function () {
                layer.close(load);
            },
            success:function (response) {
                layer.close(load);
                if (response.code == 1) {
                    layer.msg('保存成功', {icon: 1,time: 1000}, function(){
                        location.reload();
                    });
                }else {
                    layer.msg(response.msg, {icon: 2,time: 1000});
                }
            }
        });
    }

    $(document).on('click', '.dele', function () {
        var tr = $(this).parents('tr');
        var id = tr.attr('data-id');
        layer_index = layer.confirm('删除后数据将无法恢复，确定要删除吗？', {btn: ['确定','取消']},function () {
            layer.close(layer_index);
            var load = layer.load(1);
            $.ajax({
                type:'post',
                dataType:'json',
                data:{id:id,fieldtype:'partner'},
                url:"{:U('Work/deleContact')}",
                success:function (response) {
                    layer.close(load);
                    if (response.code == 1) {
                        layer.msg('删除成功', {icon: 1,time: 1000}, function(){
                            layer.close(layer_index);
                            location.reload();
                        });
                    }else {
                        layer.msg(response.msg, {icon: 2,time: 1000});
                    }
                }
            });
        });
    });

</script>

<include file="Index/footer" />
