<include file="Index/header" />
<div id="main" >
    <style>
        .toolbar li{text-align: center;padding: 0 !important;width: 50px;}
        .toolbar li.current{color: #FFFFFF;background: #3EAFE0 !important;}
        .toolbar1 li{cursor: pointer}
		.manager-btn, .common-btn {
				margin-top: 20px;
				display: inline-block;
				padding: 0 20px!important;
				height: 32px!important;
				line-height: 32px!important;
				background: #2086ee;
				font-size: 14px!important;
				color: #fff;
				text-align: center;
				cursor: pointer;
				border: 0;
				-webkit-transition: all .3s;
				transition: all .3s;
				font-weight: 400;
				-webkit-appearance: none;
				color:#fff!important;
			}
    </style>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">工作管理</a></li>
            <li><a href="#">客户管理</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">
			 <div style="float:left">总共客户：<font color="blue">{$count}个</font></div>
            <ul class="toolbar1">				
                <li class="add_btn"><span><img src="{:C('STATIC_URL')}/images/t01.png"/></span>添加</li>
            </ul>
        </div>
		<div class="tools" style="line-height: 46px">
            <form method="get" action="">
            公司名称：<input name="partner_name" type="text" class="dfinput" value="{$partner_name}" style="width: 200px;">&nbsp;
			 <if condition="$special eq 1">
			 业务员：<select name="owner" class="dfinput" style="width: 100px;">
                    <option value="">全部</option>                   
                    <volist name="userlist" id="vo">
					<option value="{$vo.user_number}" <if condition="$owner eq $vo['user_number']">selected</if>>{$vo.nickname}</option>
					</volist>
                </select>&nbsp;
			</if>
            客户类型：<select name="khtype" class="dfinput" style="width: 100px;">
                    <option value="">全部类型</option>  
					<option value="A类客户" <if condition="$khtype eq 'A类客户'">selected</if>>A类客户</option>
					<option value="B类客户" <if condition="$khtype eq 'B类客户'">selected</if>>B类客户</option>
					<option value="C类客户" <if condition="$khtype eq 'C类客户'">selected</if>>C类客户</option>	
                </select>&nbsp;
			 客户状态：<select name="status" class="dfinput" style="width: 100px;">
                    <option value="">全部状态</option>
					<option value="A类意向客户" <if condition="$status eq 'A类意向客户'">selected</if>>A类意向客户</option>
					<option value="B类意向客户" <if condition="$status eq 'B类意向客户'">selected</if>>B类意向客户</option>
					<option value="C类意向客户" <if condition="$status eq 'C类意向客户'">selected</if>>C类意向客户</option>
					<option value="合作中" <if condition="$status eq '合作中'">selected</if>>合作中</option>
					<option value="已合作" <if condition="$status eq '已合作'">selected</if>>已合作</option>
                </select>&nbsp;
            <input name="search" type="submit" class="btn" value="查询">
            </form>
        </div>
        <div class="tablelist_w new_tablelist">
            <table class="tablelist">
                <thead>
                <tr>
					<th></th>
                    <th>公司名称</th>
                    <th>客户类型</th>
                    <th>所有者</th>
                    <th>联系人</th>
					<!--<th>联系电话</th>
                    <th>微信</th>
                    <th>qq</th>
					<th>地址</th>-->
					<th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                        <tr data-id="{$vo.id}">
							<td><input type="checkbox" name="domsysid" value="{$vo.id}" title="{$vo.name}"></td>
                            <td class="td_partner_name">{$vo.partner_name}</td>
                            <td>{$vo.khtype}</td>
                            <td>{$vo.nickname}</td>
                            <td>{$vo.contact_name}</td>
                            <!--<td >{$vo.tel}</td>
                            <td>{$vo.weixin}</td>
                            <td>{$vo.qq}</td>                            
							<td>{$vo.address}</td>-->
                            <td>
							{$vo.status}								
							</td>                                 
                            <td><a href="javascript:;" class="tablelink edit">信息</a> <a href="javascript:;" class="tablelink detail">跟踪</a> <a href="javascript:;" class="tablelink gx">共享</a></td>
                        </tr>
                    </volist>
                </tbody>
            </table>
			 <if condition="$special eq 1">
			<div class="piliang mt-10">
				<label for="J_qxck"><input type="checkbox" onclick="selectall(this,'domsysid')" class="check-all" id="J_qxck">&nbsp;全选</label>
				<a href="javascript:;" onclick="plzy(this,'domsysid')" class="ml-5 manager-btn s-btn mr-10">批量转移</a>
				<!--<a href="javascript:;" onclick="batch('push')" class="manager-btn s-btn mr-10">批量PUSH</a>
				<a href="javascript:;" onclick="batch('renew')" class="manager-btn s-btn mr-10">批量续费</a>		 
				<a href="domainrenewtask.asp" class="manager-btn s-btn mr-10">离线续费日志</a>-->
			</div>
			<script>
				function plzy(_this,name){
						var str="";
						$("input[name="+name+"]").each(function(){
							str+=$(this).val()+"|";
						})				
						var user = {$member_list_json};
						var option='<select name="zy_uid" class="selectoption">';
						option+='<option value="-1">选择用户</option>'
						for(var o in user){  
							option+='<option value="'+user[o].user_number+'">'+user[o].nickname+'</option>'
						};
						option+="</select>";
						var html = "用户："+option;
						layer.confirm(html, {
							title:'选择用户',
							btn: ['确定','取消']
						}, function(){
							var zy_uid = $("select[name='zy_uid']").val();
							if(zy_uid == -1){
								layer.msg('请选择用户', {icon:5,time:1000});
								return false;
							}	
							$.ajax({
								type:'post',
								dataType:'json',
								data:{zy_uid:zy_uid,mid_str:str},
								url:'/work/partner_plzy',				
								success:function (data) {
									if(data.code==1){
										var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
										layer.msg('转移成功', {icon:4,time:1000},function(){
											parent.location.reload();
											parent.layer.close(index);
										});					
										
									}else{
										layer.msg('转移失败', {icon:5,time:1000});
									}					
								}
							
							});
						});
				}
			</script>
			</if>
            <div class="page">{$pagebar}</div>
        </div>
    </div>
</div>

<div id="add_temp" style="display: none">
    <ul class="forminfo">
        <form class="dataform" method="post" enctype="multipart/form-data" action="{:U('Work/addPartner')}">
            <input type="hidden" class="input_id" name="id" value="">
            <input type="hidden" class="input_fieldtype" name="fieldtype" value="partner">
            <li><label>客户名称</label><input name="partner_name" type="text" class="dfinput input_partner_name" value="" style="width: 300px"/></li>
            ##FORM##
            <li><label>&nbsp;</label><input name="submit" type="button" class="btn do_save_btn" value="确认保存"/></li>
        </form>
    </ul>
</div>

<script>
    var layer_index;
    $(document).on('click', '.add_btn', function () {       
        $.ajax({
            type:'post',
            dataType:'json',
            data:{fieldtype:'partner'},
            url:"{:U('Common/getFieldForm')}",
            success:function (response) {
                layer_index = layer.open({
                    type: 2,
                    title: '添加合同',
                    skin: 'layui-layer-rim',
                    area: ['100%', '100%'],
                    scrollbar: false,
                    content: "/Work/addPartner"
                });
            }
        });
    });
    
	$(document).on('click', '.gx', function () {
		var tr = $(this).parents('tr');
        var id = tr.attr('data-id');
		layer_index = layer.open({
			type: 2,
			title: '添加合同',
			skin: 'layui-layer-rim',
			area: ['80%', '80%'],
			scrollbar: false,
			content: "/partner/gxpartner/pid/"+id
		});
    });
	
    $(document).on('click', '.edit', function () {
        var tr = $(this).parents('tr');
        var id = tr.attr('data-id');
        if (!id || id == '') return false;
        layer_index = layer.open({
            type: 2,
            title: '编辑合同',
            skin: 'layui-layer-rim',
            area: ['100%', '100%'],
            scrollbar: false,
            content: "/Work/editPartner?id="+id
        });
    });

    //编辑
    function editData(con) {
        var load = layer.load(1);
        con.ajaxSubmit({
            type:'post',
            dataType:'json',
            url:"{:U('Work/editPartner')}",
            error:function () {
                layer.close(load);
            },
            success:function (response) {
                layer.close(load);
                if (response.code == 1) {
                    layer.msg('保存成功', {icon: 1,time: 1000}, function(){
                        location.reload();
                    });
                }else {
                    layer.msg(response.msg, {icon: 2,time: 1000});
                }
            }
        });
    }
    
    $(document).on('click', '.detail', function () {
        var tr = $(this).parents('tr');
        var id = tr.attr('data-id'); 
		layer_index = layer.open({
			type: 2,
			title: '合同详情',
			skin: 'layui-layer-rim',
			area: ['60%', '98%'],
			shade: 0.1,
			scrollbar: false,
			content: '/Partner/detail/id/'+id,
			end: function () {
				location.reload() 
			}
		});
    });
    
	
	function selectall(_this,name){		
		var flag = $(_this).is(':checked');			
		if(flag == true){				
			$("input[name="+name+"]").prop('checked',true);
		}else{
			$("input[name="+name+"]").prop('checked',false);
		}		
	}
	
	
</script>

<include file="Index/footer" />
