<include file="Index/header" />
<div id="main" >
    <style>
        .toolbar li{text-align: center;padding: 0 !important;width: 50px;}
        .toolbar li.current{color: #FFFFFF;background: #3EAFE0 !important;}
        .toolbar1 li{cursor: pointer}
    </style>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">工作管理</a></li>
            <li><a href="#">客户管理</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar1">
                <li class="add_btn"><span><img src="{:C('STATIC_URL')}/images/t01.png"/></span>添加</li>
            </ul>
        </div>

        <table class="tablelist">
            <thead>
            <tr>
                <volist name="fieldlist" id="vo">
                    <th>{$vo.field_name}</th>
                </volist>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <volist name="vo" id="vv">
                            <if condition="$fieldlist[$key]">
                                <td class="td_{$key}" data-key="{$key}">{$vv}</td>
                            </if>
                        </volist>
                        <td><a href="javascript:;" class="tablelink edit">编辑</a> <a href="javascript:;" class="tablelink dele">删除</a></td>
                    </tr>
                </volist>
            </tbody>
        </table>
        <div class="page">{$pagebar}</div>
    </div>
</div>

<div id="add_temp" style="display: none">
    <ul class="forminfo">
        <input type="hidden" class="input_id" value="">
        ##FORM##
        <li><label>&nbsp;</label><input name="submit" type="button" class="btn do_save_btn" value="确认保存"/></li>
    </ul>
</div>

<script>
    var layer_index;
    $(document).on('click', '.add_btn', function () {
        $.ajax({
            type:'post',
            dataType:'json',
            data:{fieldtype:'partner'},
            url:"{:U('Common/getFieldForm')}",
            success:function (response) {
                var formHtml = $('#add_temp').html().replace('##FORM##', response.form.html+response.form.script);
                layer_index = layer.open({
                    type: 1,
                    title: '添加客户',
                    skin: 'layui-layer-rim',
                    area: ['800px', '600px'],
                    scrollbar: false,
                    content: formHtml
                });
            }
        });

    });
</script>

<include file="Index/footer" />
