<include file="Index/header" />
<div id="main" >
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">工作管理</a></li>
            <li><a href="#">合同管理</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">
			<ul class="toolbar">            
				<li><a href='/Work/agreement'>我的合同</a></li>
				<li><a href='/Work/dsagreement'>待审核合同</a></li>
				<li class="current"><a href='/Work/ysagreement'>已审核合同</a></li>
			</ul>
		
            <ul class="toolbar1">
                <li class="add_btn"><span><img src="{:C('STATIC_URL')}/images/t01.png"/></span>添加</li>
            </ul>
        </div>
        <div class="tablelist_w new_tablelist">
            <table class="tablelist">
                <thead>
                <tr>
                    <th>合同名称</th>
                    <th>客户名称</th>
                    <th>总金额</th>
                    <th>所有者</th>
                    <volist name="fieldlist" id="vo">
                        <th>{$vo.field_name}</th>
                    </volist>
					<th>进度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr data-id="{$vo.id}">
                        <td class="td_agree_name" data-cid="{$vo.c_id}">{$vo.agree_name}</td>
                        <td class="td_partner_id" data="{$vo.partner_id}">{$vo.partner_name}</td>
                        <td class="td_total_money">{$vo.total_money}</td>
                        <td>{$vo.nickname}</td>
                        <volist name="vo" id="vv">
                            <if condition="$fieldlist[$key]">
                                <td class="td_{$key}" data-key="{$key}">{$vv}</td>
                            </if>
                        </volist>
						<if condition='$vo.c_state eq 2'>
						<td>已完成</td>
						<elseif condition='$vo.c_state eq 0'/>
						<td>草稿</td>
						<else/>
						<td>{$vo.uid}已{$vo.des}(进行中)</td>
						</if>	

						<td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="page">{$pagebar}</div>
        </div>
    </div>
</div>

<div id="add_temp" style="display: none">
    <ul class="forminfo">
        <form class="dataform" method="post" enctype="multipart/form-data" action="{:U('Work/addAgreement')}">            
            <input type="hidden" class="input_fieldtype" name="fieldtype" value="agreement">
            <li><label>合同名称</label><input name="agree_name" type="text" class="dfinput input_agree_name" value="" style="width: 300px"/></li>
			<li>
                <label>审批流程</label>
                <select class="dfinput input_partner_id" name="e_id" style="width: 300px">
                    <option value="">请选择</option>
                    <volist name="workflow" id="vo"><option value="{$vo.w_id}">{$vo.w_name}</option></volist>
                </select>
            </li>
            <li>
                <label>客户名称</label>
                <select class="dfinput input_partner_id" name="partner_id" style="width: 300px">
                    <option value="">请选择</option>
                    <volist name="partnerlist" id="vo"><option value="{$vo.id}">{$vo.partner_name}</option></volist>
                </select>
            </li>
            <li><label>总金额</label><input name="total_money" type="text" class="dfinput input_total_money" value="" style="width: 300px"/></li>
            ##FORM##
            <li><label>&nbsp;</label><input name="submit" type="button" class="btn do_save_btn" value="确认保存"/></li>
        </form>
    </ul>
</div>

<script>
    var layer_index;
    $(document).on('click', '.add_btn', function () {
        var load = layer.load(1);
        $.ajax({
            type:'post',
            dataType:'json',
            data:{fieldtype:'agreement'},
            url:"{:U('Common/getFieldForm')}",
            success:function (response) {
                layer.close(load);
                var formHtml = $('#add_temp').html().replace('##FORM##', response.form.html+response.form.script);
                layer_index = layer.open({
                    type: 1,
                    title: '添加合同',
                    skin: 'layui-layer-rim',
                    area: ['550px', '450px'],
                    scrollbar: false,
                    content: formHtml
                });
                $(document).on('click', '#layui-layer'+layer_index+' .btn', function () {
                    addData($(this).parents('.dataform'));
                });
            }
        });
    });

    //添加
    function addData(con) {
        var load = layer.load(1);
        con.ajaxSubmit({
            type:'post',
            dataType:'json',
            url:"{:U('Work/addAgreement')}",
            error:function () {
                layer.close(load);
            },
            success:function (response) {
                layer.close(load);
                if (response.code == 1) {
                    layer.msg('保存成功', {icon: 1,time: 1000}, function(){
                        location.reload();
                    });
                }else {
                    layer.msg(response.msg, {icon: 2,time: 1000});
                }
            }
        });
    }

    $(document).on('click', '.edit', function () {
        var tr = $(this).parents('tr');
        var id = tr.attr('data-id');
        if (!id || id == '') return false;
        var load = layer.load(1);
        $.ajax({
            type:'post',
            dataType:'json',
            data:{fieldtype:'agreement',id:id},
            url:"{:U('Common/getFieldForm')}",
            success:function (response) {
                layer.close(load);
                var formHtml = $('#add_temp').html().replace('##FORM##', response.form.html+response.form.script);
                layer_index = layer.open({
                    type: 1,
                    title: '编辑合同',
                    skin: 'layui-layer-rim',
                    area: ['550px', '450px'],
                    scrollbar: false,
                    content: formHtml
                });
                var layer_con = $('#layui-layer'+layer_index);
                layer_con.find('.input_id').val(id);
                layer_con.find('.input_agree_name').val(tr.find('.td_agree_name').html());
                layer_con.find('.input_partner_id').val(tr.find('.td_partner_id').attr('data'));
                layer_con.find('.input_total_money').val(tr.find('.td_total_money').html());
                $(document).on('click', '#layui-layer'+layer_index+' .btn', function () {
                    editData($(this).parents('.dataform'));
                });
            }
        });
    });

    //编辑
    function editData(con) {
        var load = layer.load(1);
        con.ajaxSubmit({
            type:'post',
            dataType:'json',
            url:"{:U('Work/editAgreement')}",
            error:function () {
                layer.close(load);
            },
            success:function (response) {
                layer.close(load);
                if (response.code == 1) {
                    layer.msg('保存成功', {icon: 1,time: 1000}, function(){
                        location.reload();
                    });
                }else {
                    layer.msg(response.msg, {icon: 2,time: 1000});
                }
            }
        });
    }

    $(document).on('click', '.dele', function () {
        var tr = $(this).parents('tr');
        var id = tr.attr('data-id');
        layer_index = layer.confirm('删除后数据将无法恢复，确定要删除吗？', {btn: ['确定','取消']},function () {
            layer.close(layer_index);
            var load = layer.load(1);
            $.ajax({
                type:'post',
                dataType:'json',
                data:{id:id,fieldtype:'partner'},
                url:"{:U('Work/deleAgreement')}",
                success:function (response) {
                    layer.close(load);
                    if (response.code == 1) {
                        layer.msg('删除成功', {icon: 1,time: 1000}, function(){
                            layer.close(layer_index);
                            location.reload();
                        });
                    }else {
                        layer.msg(response.msg, {icon: 2,time: 1000});
                    }
                }
            });
        });
    });
	//查看合同状态
	$(document).on('click', '.td_agree_name', function (){
	     var cid = $(this).attr('data-cid');
		 layer_index = layer.open({
			type: 2,
			title: '合同详情',
			skin: 'layui-layer-rim',
			area: ['60%', '98%'],
			shade: 0.1,
			scrollbar: false,
			content: '/Agreetment/detail/cid/'+cid,
			end: function () {
				location.reload() 
			}
		});
	});
</script>

<include file="Index/footer" />
